# Generated exes
/xrserver
/xr
/xrserver.*
/xr.*

# Generated source code
/registry/shared.go
/cmds/xr/xrlib/shared.go

# Makefile semi-targets
/.cmds
/.test
/.utest
/.images
/.testimages
/.spec
/.push
/.xr-all
/.xrserver-all
/.sharedfiles

# Junk
/hostit
/old
