 .xrsever-all
 # Generated exes
/xrserver
/xr
/xrconform
/xrserver.*
/xr.*

# Makefile fake targets
/.cmds
/.test
/.utest
/.images
/.testimages
/.spec
/.push
/.xr-all
/.xrserver-all

# Junk
/hostit
/old
