# Generated exes
/xrserver
/xr
/xrserver.*
/xr.*

# Generated source code
/registry/shared_*.go
/cmds/xr/xrlib/shared_*.go

# Makefile semi-targets
/.cmds
/.errors
/.test
/.utest
/.qtest
/.fulltest
/.images
/.testimages
/.spec
/.push
/.xr-all
/.xrserver-all
/.sharedfiles
/.devimage

# Junk
/hostit
/old
